@model IEnumerable<WikiCEP_Project.Models.Imagene>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <!---->
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="">@Html.DisplayFor(modelItem => item.Titulo)</h4>
                        <p class="">
                            @Html.ActionLink("Detalles", "Details", new { id = item.IDImagen }) | 
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IDImagen})
                        </p>
                    </div>
                    <img src="@Url.Action("GetImage", "Imagenes", new { idImagen = item.IDImagen })" alt="@Html.DisplayFor(modelItem => item.Titulo)" class="">
                </div>
            </div>
            
        }
    </div>
</div>