<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WikiCEP </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/EstiloSoporte.css" rel="stylesheet" />
    <link rel="icon" href="~/Img/WikiCEP_Logo.ico">
    <link href="~/Content/EstiloGrid.css" rel="stylesheet" />
    <link href="~/Content/EstilosLayout.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row" style="background-color:#ffffff" >
            <div class="col-md-3" style="margin-top:7px">
                <a href=@Url.Action("Index","Home")><h2 class="logo wiki com-md-3" href="home/index">Wiki<span class="logo c">C</span><span class="logo e">E</span><span class="logo p">P</span></h2></a>
            </div>
            <div class="col-md-6" style="text-align:center">
                @Html.Partial("_LoginPartial")
            </div>

            <div class="col-md-3" style="text-align:center; margin-top:11px">
                <div id="DIV_1">
@using (Html.BeginForm("Index", "Definiciones", FormMethod.Post))
{
                    <input id="INPUT_2" @Html.TextBox("strBusqueda", "", new { placeholder = "Buscar definicion" })/>
                    <button type="submit" id="BUTTON_3">
                        ir
                    </button>};
                </div>
                
            </div>

        </div>
        <div class="row">
            <div class="navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Definiciones<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "Definiciones")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "Definiciones")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Imagenes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "Imagenes")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "Imagenes")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutoriales<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "TutorialesYoutube")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "TutorialesYoutube")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ejemplos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "Ejemplos")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "Ejemplos")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Soporte en Línea", "Index", "Chat")</li>
                        @if (User.IsInRole("Administrador"))
                        { <li>@Html.ActionLink("Temas", "Index", "Temas")</li> }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            @RenderBody()
        </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - CEP 14</p>
                <p>Sofrecom Argentina S.A</p>
                <p>Reconquista 609, Piso 7</p>
                <p>Ciudad Autonoma de Buenos Aires, Argentina</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
