<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WikiCep </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/EstiloGrid.css" rel="stylesheet" />
    <style>
        .logo {
            padding-top: 6px;
            margin: 0px;
            font-family: Helvetica, sans-serif;
            display: inline-block;
        }

        .wiki {
            color: #FFFFFF;
        }

        .c {
            color: #AED520;
        }

        .e {
            color: #11C1B8;
        }

        .p {
            color: #FF6C0B;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="logo wiki">Wiki<div class="logo c">C</div><div class="logo e">E</div><div class="logo p">P</div></h3>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Definiciones<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver", "Index", "Definiciones")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Agregar", "Create", "Definiciones")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Imagenes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver", "Index", "Imagenes")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Agregar", "Create", "Imagenes")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutoriales<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver", "Index", "TutorialesYoutube")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Agregar", "Create", "TutorialesYoutube")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ejemplos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver", "Index", "Ejemplos")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Agregar", "Create", "Ejemplos")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
                    <li>
                        @using (Html.BeginForm()){
                            @Html.TextBox("strBusqueda", "", new { @style = "margin-top:14px;", placeholder="Definicion"  })
                            @Html.ActionLink("Buscar", "Index", "Definiciones")
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CEP 14</p>
            <p>Sofrecom Argentina S.A</p>
            <p>Reconquista 609, Piso 7</p>
            <p>Ciudad Autonoma de Buenos Aires, Argentina</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
