<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WikiCep </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/Img/WikiCEP_Logo.ico">
    <link href="~/Content/EstiloGrid.css" rel="stylesheet" />
    <style>
        .logo {
            margin: 0px;
            font-family: Helvetica, sans-serif;
            display: inline-block;
        }

        .wiki {
            color: #354D53;
        }

        .c {
            color: #AED520;
        }

        .e {
            color: #11C1B8;
        }

        .p {
            color: #FF6C0B;
        }
        a{
            color: black;
        }
        .navbar-collapse{
            padding-right: 0px;
            padding-left: 0px;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: #AED520;
        }
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #FF6C0B;
        }
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #11C1B8;
        }

        body {
            padding-top: 0px;
            padding-bottom: 20px;
        }
    </style>

    <style>
        #DIV_1 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 30px;
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 299px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 149.5px 15px;
    transform-origin: 149.5px 15px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#INPUT_2 {
    background-position: 7px 50%;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset, rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px;
    box-sizing: content-box;
    color: rgb(68, 68, 68);
    height: 20px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 206px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 127.5px 15px;
    transform-origin: 127.5px 15px;
    background: url("http://www.brewerydb.com/img/search.png") no-repeat scroll 7px 50% / auto padding-box border-box;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 14px 0 0 14px;
    font: normal normal normal normal 13px / 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 4px 14px 4px 33px;
    transition: none 0s ease 0s;
}/*#INPUT_2*/

#BUTTON_3 {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 30px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    text-size-adjust: 100%;
    vertical-align: top;
    white-space: nowrap;
    width: 45px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 22.5px 15px;
    transform-origin: 22.5px 15px;
    background: rgb(54, 54, 54) linear-gradient(rgb(68, 68, 68), rgb(34, 34, 34)) repeat-x scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.0980392);
    border-right: 1px solid rgba(0, 0, 0, 0.0980392);
    border-bottom: 1px solid rgba(0, 0, 0, 0.247059);
    border-left: 1px solid rgba(0, 0, 0, 0.0980392);
    border-radius: 0 14px 14px 0;
    font: normal normal normal normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 12px;
}/*#BUTTON_3*/


    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row" style="background-color:#ffffff" >
            <div class="col-md-3" style="margin-top:7px">
                <a href=@Url.Action("Index","Home")><h2 class="logo wiki com-md-3" href="home/index">Wiki<span class="logo c">C</span><span class="logo e">E</span><span class="logo p">P</span></h2></a>
            </div>
            <div class="col-md-6" style="text-align:center">
                @Html.Partial("_LoginPartial")
            </div>

            <div class="col-md-3" style="text-align:center; margin-top:11px">
                <div id="DIV_1">
@using (Html.BeginForm("Index", "Definiciones", FormMethod.Post))
{
                    <input id="INPUT_2" @Html.TextBox("strBusqueda", "", new { placeholder = "Buscar definicion" })/>
                    <button type="submit" id="BUTTON_3">
                        ir
                    </button>};
                </div>
                
            </div>

        </div>
        <div class="row">
            <div class="navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Definiciones<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "Definiciones")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "Definiciones")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Imagenes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "Imagenes")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "Imagenes")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutoriales<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "TutorialesYoutube")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "TutorialesYoutube")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ejemplos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver", "Index", "Ejemplos")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Agregar", "Create", "Ejemplos")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Sala de chat", "Index", "Chat")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CEP 14</p>
            <p>Sofrecom Argentina S.A</p>
            <p>Reconquista 609, Piso 7</p>
            <p>Ciudad Autonoma de Buenos Aires, Argentina</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
