@model WikiCEP_Project.Models.TutorialesYouTube

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Estas seguro que quieres eliminar?</h3>
<div>
    <h3>Tutoriales</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkYouTube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkYouTube)
        </dd>

    </dl>
        <br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </div>
        <br />

        <div class="form-actions no-color">

            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
