@model WikiCEP_Project.Models.TutorialesYouTube

@{
    ViewBag.Title = "Detalles de Tutorial";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkYouTube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkYouTube)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDTutorial }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
