@model IEnumerable<WikiCEP_Project.Models.TutorialesYouTube>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkYouTube)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            <a href="https://@Html.DisplayFor(modelItem => item.LinkYouTube)" >@Html.DisplayFor(modelItem => item.LinkYouTube)</a>
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDTutorial }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDTutorial }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IDTutorial })
        </td>
    </tr>
}

</table>
