@{
    ViewBag.Title = "Tutoriales de YouTube";
}

<h2>@ViewBag.Title</h2>
<hr />
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<hr />
@Html.Action("CargarTutoriales", "TutorialesYouTube")
@Html.ActionLink("Exportar a Excel", "ExportExcel")
<hr />
<div>
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</div>