@model WikiCEP_Project.Models.AspNetUser

@{
    ViewBag.Title = "Borrar Usuario";
}

<h2>
    @ViewBag.Title
</h2>
<hr />

<div class="alert alert-danger" role="alert">
    <h3>
        <strong>Atencion:</strong>¿Esta seguro que quiere eliminar este usuario?
    </h3>
</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dd>
            <h4>
                @Html.DisplayFor(model => model.UserName)
            </h4>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> <br />
        </div>
        <hr />
    }
</div>

<div>
    @Html.ActionLink("Volver a la Lista", "Index") |
    @Html.ActionLink("Ir al Inicio", "Home", "Index") 
</div>
