@model WikiCEP_Project.Models.Imagene

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
 
    <hr />
    <img src="@Url.Action("GetImage", "Imagenes", new { idImagen = Model.IDImagen })" alt="@Html.DisplayFor(modelItem => Model.Titulo)" class="">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDImagen }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
