@model WikiCEP_Project.Models.Imagene

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Imagene</h4>
    <hr />
    <img src="@Url.Action("GetImage", "Imagenes", new { idImagen = Model.IDImagen })" alt="@Html.DisplayFor(modelItem => Model.Titulo)" class="">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDImagen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
