@model WikiCEP_Project.Models.Ejemplo

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Estas seguro que quieres eliminar?</h3>
<div>
    <h4>Ejemplos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a los Ejemplos", "Index") |
            @Html.ActionLink("Volver al Inicio", "Index", "Home")
        </div>
    }
</div>
