@model WikiCEP_Project.Models.Ejemplo

@{
    ViewBag.Title = "Detalles";
}

<div>
    <h2>
        @Html.DisplayFor(model => model.Titulo) 
    </h2>
</div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Autor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
    </dl>
    <hr />
    <div class="dl-horizontal">
        <br />
        <span style="white-space: pre-line">@Html.DisplayFor(model => model.Texto)</span>
        <br />
        <br />
    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDEjemplo }) |
    @Html.ActionLink("Agregar Nuevo Ejemplo", "Create") |
    @Html.ActionLink("Volver a los Ejemplos", "Index") |
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</p>
