@model WikiCEP_Project.Models.Ejemplo

@{
    ViewBag.Title = "Detalles";
}
<div>
    <h4>Ejemplos</h4>
    <hr />
    <div class="dl-horizontal">
        <h2>
            <span class="label label-primary">@Html.DisplayFor(model => model.Titulo)</span>            
        </h2>
        <br />
        <span style="white-space: pre-line">@Html.DisplayFor(model => model.Texto)</span>
        <br />
        <br />
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDEjemplo }) |
    @Html.ActionLink("Agregar Nuevo Ejemplo", "Create") |
    @Html.ActionLink("Volver a los Ejemplos", "Index") |
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</p>
