@model IEnumerable<WikiCEP_Project.Models.Ejemplo>

@{
    ViewBag.Title = "Nuevo Ejemplo";
}
<br />
<p>
    @Html.ActionLink("Agregar Nuevo Ejemplo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            Autor
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDEjemplo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDEjemplo }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IDEjemplo })
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Volver a los Ejemplos", "Index") |
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</div>
