@model IEnumerable<WikiCEP_Project.Models.vEjemplo>

@{
    ViewBag.Title = "Ejemplos de Codigos";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 8);
    WikiCEP_Project.Models.vEjemplo ejemplo = new WikiCEP_Project.Models.vEjemplo();
}

<div>
    <h2>
        <span class="label label-primary">@ViewBag.Title</span>
    </h2>
</div>
<hr />
<p>
    @Html.ActionLink("Agregar Nuevo Ejemplo", "Create")
</p>
<br />
@using (Html.BeginForm())
{
    <p>
        Buscar por Titulo: @Html.TextBox("strBusqueda")
        <input type="submit" value="Buscar" class="btn btn-default" />
    </p>
}
<hr />

@grid.GetHtml(
    fillEmptyRows: false,
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    firstText: "<< Primera",
    previousText: "< Anterior",
    nextText: "Siguiente >",
    lastText: "Última >>",

columns: new[]
{
    grid.Column("Titulo",header:"Titulo", format: (item) =>item.GetSelectLink(item.Titulo)),
    grid.Column("FechaCreacion",header:"Fecha de Creacion",format: (item) => string.Format("{0:dd/MM/yyyy}",
                                       item.FechaCreacion)),
    grid.Column("Autor",header:"Autor"),

    grid.Column("",
          header: "Acciones",
          format:
        @<text>
            @Html.ActionLink("Editar",   "Edit",   new { id=item.IDEjemplo } )
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IDEjemplo } )
        </text>
    )

 })

@if (grid.HasSelection)
{
    ejemplo = (WikiCEP_Project.Models.vEjemplo)grid.Rows[grid.SelectedIndex].Value;
    <br />
    <b>@ejemplo.Titulo: </b> @Html.ActionLink("Ver Mas", "../Ejemplos/Details", new { id = ejemplo.IDEjemplo }) <br />

}

<hr />
<div>
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</div>
