@{
    ViewBag.Title = "Ejemplos de Codigos";
}

<div class="container">
    <h2 class="row">
        <span class="col-md-6" style="text-align:center">@ViewBag.Title</span>
    </h2>
</div>
<hr />
        
<p>
    @Html.ActionLink("Agregar Nuevo Ejemplo", "Create")
</p>
<br />
@Html.Action("CargarEjemplos", "Ejemplos")
@Html.ActionLink("Exportar a Excel", "ExportExcel")
<hr />
<div>
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</div>
