﻿@model WikiCEP_Project.Models.Definicione

@{
    ViewBag.Title = "Crear Nueva Definicion";
}

<div>
    <h2>
        @ViewBag.Title
    </h2>
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Temas</label>
            <div class="col-md-10">
                <select class="auto-style7" multiple="Multiple" id="lista" name="lista">
                    @foreach (var a in (List<WikiCEP_Project.Models.Tema>)ViewBag.Temas)
                    {
                        <option value=@a.IDTema>@a.Descripcion</option>
                    }
                </select>
            </div>
        </div>
        <br />
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}
            <hr />
            <div>
                @Html.ActionLink("Volver al Inicio", "Index", "Home") |
                @Html.ActionLink("Ir a la Lista", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
}

