@model WikiCEP_Project.Models.Definicione

@{
    ViewBag.Title = "Borrar Definicion";
}

<div>
    <h2>
      @ViewBag.Title
    </h2>
</div>
<hr />
<div class="alert alert-danger" role="alert">
    <h2>
        <strong>Atencion:</strong>¿Estas seguro que quieres eliminar?
    </h2>
</div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>


    <br />

    <hr />
    </div>
    <div>
@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()
        <hr />
        <div>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </div>
        <br />

        <div class="form-actions no-color">

            @Html.ActionLink("Volver a la lista", "Index") | 
            @Html.ActionLink("Volver al Inicio", "Index", "Home")
        </div>
        }
    
</div>
