@model WikiCEP_Project.Models.Definicione

@{
    ViewBag.Title = "Detalles";
}

<div>
    <h2>
        <span class="label label-primary">@Html.DisplayFor(model => model.Titulo)</span>        
    </h2>
</div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Autor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <span style="white-space: pre-line">@Html.DisplayFor(model => model.Texto)</span>
        </dd>
    </dl>
    <dl>
        <dt>
            Temas
        </dt>
        <dd>
            @foreach (var tema in Model.Temas.ToList())
            {
                <span class="label label-primary">@tema.Descripcion</span>
            }
        </dd>
    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDDefinicion }) |
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.IDDefinicion }) |
    @Html.ActionLink("Volver al Inicio", "Index", "Home") |
    @Html.ActionLink("Ir a la Lista", "Index")
</p>
