@model IEnumerable<WikiCEP_Project.Models.Definicione>

@{
    ViewBag.Title = "Definiciones";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 8);
    WikiCEP_Project.Models.Definicione definiciones = new WikiCEP_Project.Models.Definicione();

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nueva Definicion", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por Titulo: @Html.TextBox("buscar")
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </p>
}



@grid.GetHtml(
    fillEmptyRows: false,
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    firstText: "<< Primera",
    previousText: "< Anterior",
    nextText: "Siguiente >",
    lastText: "Última >>",

columns: new[]
{
    grid.Column("Definicion",header:"Titulo", format: (item) =>item.GetSelectLink(item.Titulo)),
    grid.Column("FechaCreacion",header:"Fecha de la Creacion",format: (item) => string.Format("{0:dd/MM/yyyy}",
                                       item.FechaCreacion)),
    grid.Column("IDAutor",header:"Lo agrego"),

    grid.Column("",
          header: "Acciones",
          format:
        @<text>
            @Html.ActionLink("Editar",   "Edit",   new { id=item.IDDefinicion } )
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IDDefinicion } )
        </text>
    )

 })

@if (grid.HasSelection)
{
    definiciones = (WikiCEP_Project.Models.Definicione)grid.Rows[grid.SelectedIndex].Value;

    <b>Texto   : </b> @Html.ActionLink("Ver Mas", "../Definiciones/Details", new { id = definiciones.IDDefinicion }) <br />

}




@Html.ActionLink("Exportar a Excel", "ExportExcel")
