@model IEnumerable<WikiCEP_Project.Models.vDefinicione>

@{
    ViewBag.Title = "Definiciones";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nueva Definicion", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Definicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_de_Creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)    
            </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Definicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_de_Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDDefinicion }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDDefinicion }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IDDefinicion })
        </td>
    </tr>
}

</table>
