@model WikiCEP_Project.Models.Tema

@{
    ViewBag.Title = "Borrar Tema";
}

<h2>
    @ViewBag.Title
</h2>
<hr />
<div class="alert alert-danger" role="alert">
    <h2>
        <strong>Atencion:</strong> Estas Seguro que Quieres Borrar?
    </h2>
</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <hr />
        <div class="form-actions no-color">
            <input type="submit" value="Borrar Tema" class="btn btn-default" /> |
            @Html.ActionLink("Vovler a la Lista", "Index") |
            @Html.ActionLink("Ir al Inicio", "Index", "Home")
        </div>
    }
</div>
