@model IEnumerable<WikiCEP_Project.Models.Tema>

@{
    ViewBag.Title = "Temas";
}

<h2>
    @ViewBag.Title
</h2>

<hr />
<p>
    @Html.ActionLink("Crear Nuevo Tema", "Create")
</p>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDTema }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDTema }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.IDTema }) |
                                  
        </td>
    </tr>
}
</table>

<br />
<hr />
<div>
    @Html.ActionLink("Ir al Inicio", "Idex", "Home")    
</div>

